<nav class="navbar navbar-expand-sm navbar-dark bg-dti">
    <a class="navbar-brand" href="{{ path_for('home') }}">Ajajoon</a>
    <button aria-controls="navbar-collapsible" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar-collapsible" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbar-collapsible">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('timelines') }}">Ajajooned</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Galerii</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Failid</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if auth.check() %}
                <li class="navbar-text">
                    <ul id="menu-primary-navigation" class="nav pull-left">
                    
                    </ul>
                </li>
<nav class="navbar navbar-expand-lg navbar-light bg-dti">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         {{ auth.user.firstname }} {{ auth.user.lastname }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path_for('settings') }}">Konto seaded</a>
        {% if auth.user.inRole('admin') %}
             <a class="dropdown-item" href="{{ path_for('users') }}">Kasutajate nimekiri</a>                   
        {% endif %}
        </div>
      </li>
  </div>
</nav>                
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('logout') }}">Logi välja</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('login') }}">Logi sisse</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
