<nav class="navbar navbar-expand-sm navbar-dark bg-dti">
    <a class="navbar-brand ml-2" href="{{ path_for('home') }}"><img src="{{ asset('icon.png') }}" height="30"></a>
    <button aria-controls="navbar-collapsible" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar-collapsible" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbar-collapsible">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('home') }}">Ajajooned</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('gallery', {'page': 1}) }}">Galerii</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('files', {'page': 1}) }}">Failid</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('showEvents', {'page': 1}) }}">Sündmused</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        {% if auth.check() %}
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownMenuLink">
                    {{ auth.user.firstname }}
                    {{ auth.user.lastname }}
                </a>

                <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path_for('profile') }}">Konto seaded</a>
                    {% if auth.user.inRole('admin') %}
                        <a class="dropdown-item" href="{{ path_for('users') }}">Kasutajate nimekiri</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('logout') }}">Logi välja</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('login') }}">Logi sisse</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
