{% extends 'layout.twig' %}
{% block body %}
    <div class="container mt-3">
        <div class="row mt-4">
            <div class="col-sm-auto">
                <h3>Sündmused
                    {% block header %}{% endblock %}
                </h3>
            </div>
            <div class="col-sm">
                <form id="msearch-form" action="{{ path_for('showEvents') }}">
                    <div class="input-group mb-3">
                        <input class="form-control" id="msearch" name="query" placeholder="Otsi sündmust" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Otsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="accordion" id="events">
            {% for event in events %}
                <div class="card">
                    <a class="card-header text-body d-flex" href="#event-{{event.id}}" data-toggle="collapse">
                        <span>{{ event.title }}{% if event.private ==1 %} (Privaatne){% endif %}</span>
                        <span class="ml-auto">{{ event.timeline.name }} | Toimus: {{event.time|date('d/m/Y')}}</span>
                    </a>
        
                    <div id="event-{{event.id}}" class="collapse" data-parent="#events">
                        <div class="card-body">
                            {{event.content}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
