{% extends 'layout.twig' %}

{% block body %}
  <div class="container mt-3">
      <div class="row my-4">
          <div class="col-auto">
            <h3>Failid</h3>
          </div>
        <div class="col text-right">
          <form id="fsearch-form" action="{{ path_for('files', {'page': page }) }}">
            <div class="input-group mb-3">
                      <input aria-describedby="basic-addon2" aria-label="" class="form-control" id="fsearch" placeholder="Otsi faili" type="text">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" id="fsearchbutton" type="submit">Otsi</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    <div class="container">
      {% for group in groups %}
        <h5 class="list-group bg-dti p-2 mb-2 mt-4 text-light rounded">Ajajoone {{ group[0].event.timeline.name }} failid</h5>
          {% for file in group %}
              <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-baseline mb-1" href="{{ file.content.path }}" data-caption="Sündmus: {{ file.event.title }}" download="{{ file.content.name }}" class="list-group-item-action">
                <span><i class="fas fa-download mr-2"></i> {{ file.content.name }} </span>
                <span>{{ file.updated_at}}</span>
              </a>
          {% endfor %}
        {% if not loop.last %}
        <hr>
        {% endif %}
      {% endfor %}
      {% set currentPage = page %}
      <nav aria-label="Pagination" class="d-flex justify-content-center mt-4">
        <ul class="pagination">
          {% if page != 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ path_for('files', {'page': page - 1}) }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}
          {% for i in range(0, pages) %}
            <li class="page-item {% if page == i + 1  %} active {% endif %}"><a class="page-link" href="{{ path_for('files', {'page': (i + 1)}) }}">{{ i + 1 }}</a></li>
          {% endfor %}
          {% if page != pages + 1 %}
          <li class="page-item">
            <a class="page-link" href="{{ path_for('files', {'page': page + 1}) }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
