{% extends 'layout.twig' %}

{% block body %}
    <div class="container mt-3">
        <h1>Konto seaded</h1>
        <form method="POST" class="mt-4" action="{{ path_for('settings', {'id': user.id}) }}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" value="{{ user.email }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Eesnimi</label>
                <div class="col-sm-10">
                    <input type="text" name="firstname" class="form-control" value="{{ user.firstname }}">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Perekonnanimi</label>
                <div class="col-sm-10">
                    <input type="text" name="lastname" class="form-control" value="{{ user.lastname }}">
                </div>
            </div>
             <div class="custom-checkbox">
                <label for="admin">Administraator</label>
                 <input id="new-user-role" type="checkbox" name="admin" value="admin">
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button class="btn btn-dti" name="submit" type="submit">Salvesta</button>
                    <a class="btn btn-light btn-outline ml-2" href="{{ path_for('cPassword', {'id': user.id}) }}">Muuda parooli...</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
