{% extends 'layout.twig' %}

{% block body %}
    {% if auth.check() %}
        {% include 'app/_new_timeline_modal.twig' %}
        {% include 'app/_edit_timeline_modal.twig' %}
    {% endif %}
    <div class="container mt-3">
        <div class="row mt-4">
            <div class="col-sm-auto">
                <h3>Ajajooned
                    {% block header %}{% endblock %}
                </h3>
            </div>
            {% if auth.check() %}
                <div class="col-sm text-right">
                    <a class="btn btn-dti" data-target="#new-timeline-modal" data-toggle="modal" href="#">+ Lisa ajajoon</a>
                </div>
            {% endif %}
            <div class="col-sm">
                <form id="tsearch-form" action="{{ path_for('timelines') }}">
                    <div class="input-group mb-3">
                        <input aria-describedby="basic-addon2" aria-label="Otsing" class="form-control" id="tsearch" placeholder="Otsi ajajoont" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="tsearchbutton" type="submit">Otsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% if timelines|length == 0 %}
            <div class="row mt-4">
                <div class="col">
                    <div class="jumbotron">
                        <div class="container">
                            {% block jumbotron %}
                                <h1 class="display-4">Pole ühtegi ajajoont :(</h1>
                                {% if auth.check() %}
                                    <p class="lead">Palun lisa uus ajajoon, et alustada sündmuste lisamist.</p>
                                    <a class="btn btn-dti btn-lg" data-target="#new-timeline-modal" data-toggle="modal" href="#">Lisa ajajoon</a>
                                {% else %}
                                    <p class="lead">Ajajooned lisatakse peatselt.</p>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row mt-4">
                {% for timeline in timelines %}
                    <div class="col-md-6 col-lg-4 d-flex mb-4">
                        <a class="clickable-card card flex-fill" href="{{ path_for('timeline', {'id': timeline.id}) }}">
                            <div class="card-header d-flex align-items-baseline">
                                <span>{{ timeline.name }}</span>
                                {% if auth.check() %}
                                    <button type="button" class="btn btn-light btn-sm ml-auto editBtn" data-toggle="tooltip" data-placement="bottom" title="Muuda pealkirja" data-id="{{ timeline.id }}" data-name="{{ timeline.name }}" data-description="{{ timeline.description }}" data-private="{{ timeline.private }}"><i class="far fa-edit"></i></button>
                                    <button type="button" class="btn btn-light btn-sm ml-2 deleteTimelineButton text-danger" data-url="{{ path_for('delete-timeline', {'id': timeline.id}) }}" data-toggle="tooltip" data-placement="bottom" title="Kustuta" data-name="{{ timeline.name }}"><i class="far fa-trash-alt"></i></button>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <p>{{ timeline.description }}</p>
                                <p>
                                    <small>
                                        Sündmusi:
                                        {{ timeline.events_count }}<br>
                                        Viimati muudetud:
                                        {{ timeline.updated_at|date("d.m.Y") }}
                                        {% if timeline.private == true %}<br><i>Privaatne</i>
                                        {% endif %}
                                    </small>
                                </p>
                                <div class="mt-2"><u>Ava ajajoon</u></div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
