{% extends 'layout.twig' %}

{% block body %}
    {% if auth.check() %}
        {% include 'app/_new_timeline_modal.twig' %}
        {% include 'app/_edit_timeline_modal.twig' %}
    {% endif %}
    <div class="container mt-3">
        {% if timelines|length > 0 %}{% endif %}
        <div class="row mt-4">
            <div class="col">
                <h3>Ajajooned</h3>
            </div>
            {% if auth.check() %}
                <div class="col text-right">
                    <a class="btn btn-dti" data-target="#new-timeline-modal" data-toggle="modal" href="#">+ Lisa ajajoon</a>
                </div>
            {% endif %}
            <div class="col">
                <form id="tsearch-form" action="{{ path_for('search-timelines') }}">
                    <div class="input-group mb-3">
                        <input aria-describedby="basic-addon2" aria-label="Otsing" class="form-control" id="tsearch" placeholder="Otsi ajajoont" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="tsearchbutton" type="submit">Otsi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            {% if timelines|length == 0 %}
                <div class="col">
                    <div class="jumbotron">
                        <div class="container">
                            {% block jumbotron %}
                                <h1 class="display-4">Pole ühtegi ajajoont :(</h1>
                                {% if auth.check() %}
                                    <p class="lead">Palun lisa uus ajajoon, et alustada sündmuste lisamist.</p>
                                    <a class="btn btn-dti btn-lg" data-target="#new-timeline-modal" data-toggle="modal" href="#">Lisa ajajoon</a>
                                {% else %}
                                    <p class="lead">Ajajooned lisatakse peatselt.</p>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% else %}
                {% for timeline in timelines %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between align-items-baseline">
                                <span>{{ timeline.name }}</span>
                            </div>
                            <div class="card-body">
                                <p>{{ timeline.description }}</p>
                                <p>
                                    <small>
                                        Sündmusi:
                                        {{ timeline.events_count }}<br>
                                        Viimati muudetud:
                                        {{ timeline.updated_at|date("d.m.Y") }}
                                        {% if timeline.private == true %}<br><i>Privaatne</i>
                                        {% endif %}
                                    </small>
                                </p>
                                <div class="d-flex flex-row flex-wrap ">
                                    <a class="flex-grow-1 mt-2" href="{{ path_for('timeline', {'id': timeline.id}) }}">Ava ajajoon</a>
                                    {% if auth.check() %}
                                        <button type="button" class="btn btn-sm btn-dti m-1 editBtn" data-id="{{ timeline.id }}" data-name="{{ timeline.name }}" data-description="{{ timeline.description }}" data-private="{{ timeline.private }}">Muuda</button>
                                        <button type="button" class="btn btn-sm btn-outline-danger m-1 deleteTimelineButton" data-id="{{ timeline.id }}" data-name="{{ timeline.name }}">Kustuta</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
