{% extends 'layout.twig' %}

{% block body %}
{% if auth.check() %}
    {% include 'app/_new_timeline_modal.twig' %}
{% endif %}
<div class="container mt-3">
  {% if timelines|length > 0 %}
    <div class="float-right">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
  {% endif %}
    <div class="row mt-4">
        <div class="col">
            <h3>Ajajooned</h3>
        </div>
        {% if auth.check() %}
            <div class="col text-right">
                <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#new-timeline-modal" >+ Lisa ajajoon</a>
            </div>
        {% endif %}
    </div>
    <div class="row mt-4">
        {% if timelines|length == 0 %}
            <div class="col">
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-4">Pole ühtegi ajajoont :(</h1>
                        {% if auth.check() %}
                            <p class="lead">Palun lisa uus ajajoon, et alustada sündmuste lisamist.</p>
                            <a class="btn btn-primary btn-lg" data-target="#new-timeline-modal" data-toggle="modal" href="#">Lisa ajajoon</a>
                        {% else %}
                            <p class="lead">Ajajooned lisatakse peatselt.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            {% for timeline in timelines %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            {{ timeline.name }}
                        </div>
                        <div class="card-body">
                            <p>{{ timeline.description }}</p>
                            <p>
                                <small>
                                    Sündmusi: {{ timeline.events_count }}<br>
                                    Viimati muudetud: {{ timeline.updated_at|date("d.m.Y") }}
                                </small>
                            </p>
                            <a href="{{ path_for('timeline', {'id': timeline.id}) }}" class="stretched-link">Ava ajajoon</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
