{% extends 'layout.twig' %}
{% block body %}
    {% include 'app/_new_user_modal.twig' %}
    {% include 'app/_edit_user_modal.twig' %}
    <div class="container mt-3">
        <div class="row mt-4">
            <div class="col">
                <h3>Kasutajad</h3>
            </div>
            {% if auth.user.inRole('admin') %}  
            <div class="col text-right">
                <a class="btn btn-dti" data-target="#new-user-modal" data-toggle="modal" href="#">+ Lisa kasutaja</a>
            </div>
            {% endif %}
        </div>
        <div class="list-group mt-4">
        {% for user in users %}
            <div href="#" class="list-group-item d-flex justify-content-between align-items-baseline">
                <span>{{ user.firstname }} {{ user.lastname }} – {{ user.email }}</span>
                <button type="button" class="btn btn-sm btn-dti m-1 edit-user-btn" data-id="{{ user.id }}" data-email="{{ user.email }}" data-firstname="{{ user.firstname }}" data-lastname="{{ user.lastname }}" data-admin="{{ user.inRole('admin') }}" data-delete-url="{{ path_for('delete-user', {'id': user.id}) }}" data-password-url="{{ path_for('change-password', {'id': user.id}) }}" >Halda</button>
                {# <button type="button" class="btn btn-outline-danger btn-sm">Delete</button> #}
            </div>
        {% endfor %}
        </div>
   </div>
{% endblock %}


